.portfolio-page{
max-width:1100px;
margin:auto;
padding:100px 20px;
}

.portfolio-intro{
max-width:700px;
margin-bottom:40px;
color:#475569;
}

.portfolio-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
}

.project-card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
transition:0.4s;
}

.project-card img{
width:100%;
border-radius:8px;
margin-bottom:15px;
}

.project-card:hover{
transform:translateY(-8px);
box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.project-tech{
display:block;
margin-top:10px;
font-size:14px;
color:#38bdf8;
font-weight:500;
}

.project-links{
margin-top:15px;
}

.project-links a{
text-decoration:none;
color:#38bdf8;
font-weight:600;
display: flex;
flex-direction: column;
margin-top: 15px;
}